<!DOCTYPE html>
<html>
	<head>
		{{#header}}
			{{> meta.mustache}}
		{{/header}}
	</head>

	<body>
		{{#header}}
			{{> header.mustache}}
		{{/header}}

		<section>
			<h1>Transfer to IOUs</h1>
			<p>Your telephone number has been verified.  In some cases, our staff may also call you to further verify your identity and may ask for your birth date and/or mailing address.</p>

			{{#successfulDeposit}}
				<p>You may now send your Interac e-Transfer for {{depositAmount}} CAD to <a href="mailto:etransfer.{{depositId}}@rippleunion.com">etransfer.{{depositId}}@rippleunion.com</a>.  You may use any security question, but please make the answer {{depositId}}.</p>
			{{/successfulDeposit}}

			<p>Please allow up to 4 business days for processing.</p>

			<a href="{{homeLink}}">« Back</a>
		</section>
	</body>
</html>
