<!DOCTYPE html>
<html>
	<head>
		{{#header}}
			{{> meta.mustache}}
		{{/header}}
	</head>

	<body>
		{{#header}}
			{{> header.mustache}}
		{{/header}}

		<section>
			<h1>Transfer to IOUs</h1>
			<p>An automated service will call your telephone number shortly.  Please enter the verification code in the form below.</p>

			{{#renderedDepositForm}}
				<form method="post" action="{{formAction}}">
					{{{formHtml}}}
					<button type="submit">Verify</button>
				</form>
			{{/renderedDepositForm}}
		</section>
	</body>
</html>
