<header>
	<h1><a href="//rippleunion.com/"><img src="//rippleunion.com/logo.png" alt="Ripple Union" /></a> Interac e-Transfers</h1>

	<nav>
		<ul>
			<li><a href="//eft.rippleunion.com/">EFT</a></li>
			<li>Interac e-Transfer</li>
			<li><a href="//giftcards.rippleunion.com/">Amazon Giftcards</a></li>
			<li><a href="//shop.rippleunion.com/">Shop</a></li>
			<li><a href="//faq.rippleunion.com/">FAQ</a></li>
		</ul>
	</nav>
</header>
