<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Ripple Union Interac e-Transfers</title>
		<link rel="shortcut icon" type="image/png" href="/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/assets/common.css" />
	</head>

	<body>
		<h1><a href="//rippleunion.com"><img src="/assets/logo.png" alt="Ripple Union" /></a> Interac e-Transfers</h1>

		<form method="get" action="">
			{{{depositForm}}}
			<button type="submit">Check</button>
		</form>
	</body>
</html>
