<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Ripple Union Interac e-Transfers</title>
		<link rel="shortcut icon" type="image/png" href="/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/assets/common.css" />
	</head>

	<body>
		<h1><a href="//rippleunion.com"><img src="/assets/logo.png" alt="Ripple Union" /></a> Interac e-Transfers</h1>

		<section>
			<h1>Transfer to IOUs</h1>
			<p>An automated service will verify your telephone number shortly after you submit this form.  In some cases, our staff may also call you to further verify your identity.</p>
			<p>Please allow up to 2 business days for processing.</p>

			<form method="post" action="{{depositFormAction}}">
				{{{renderedDepositForm}}}
				<button type="submit">Send</button>
			</form>
		</section>
	</body>
</html>
