<!DOCTYPE html>
<html>
	<head>
		{{#header}}
			{{> meta.mustache}}
		{{/header}}
	</head>

	<body>
		{{#header}}
			{{> header.mustache}}
		{{/header}}

		<section>
			<h1>Transfer to Bank Account</h1>
			{{#successfulQuote}}
				<p>To complete your transaction, send {{quoteAmount}} CAD to <a href="https://ripple.com//send?name=Ripple%20Union&amp;to=r3ADD8kXSUKHd6zTCKfnKT3zV9EZHjzp1S&amp;dt={{quoteId}}&amp;amount={{quoteAmount}}%2FCAD">r3ADD8kXSUKHd6zTCKfnKT3zV9EZHjzp1S</a> with destination tag {{quoteId}}.</p>
			{{/successfulQuote}}

			<p>Please allow up to 2 business days for processing.</p>

			<a href="{{quoteHomeLink}}">« Back</a>
		</section>
	</body>
</html>
